* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 150px;
    box-shadow: 0px 1px 10px #ccc;
    padding: 20px;
}

.lift {
    position: relative;
    margin-left: 25px;
}

.lift .fa-magnifying-glass{
    color: #606770 ;
    position: absolute;
    font-size: 16px;
    left: 20px;
    top: 10px;
}

.sego {
    border: none;
    margin-left: 15px;
    background-color: #f5f0f0;
    color: #606770;
    padding: 7px 16px 9px 36px;
    border-radius: 50px;
    font-size: 15px;
    transition: all .5s ease;
}

.sego:focus {
    outline: none;
    
}

.sego:hover {
    
    transform: scale(1.1);
} 

.mid {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 3px solid ;
    left: 650px;
    padding: 10px;
    
}

.mid a {
    text-decoration: none;
    color: black;
}

.right {
   font-size: 25px;
   margin-right: 40px;
   color: gray;
   transition: 0.4s ease;
}

.right .fa-user {
    right: 200px;
    position: absolute;
    transition: 0.3s ease;
}

.right .fa-heart{
    position: absolute;
    right: 130px;
    transition: 0.3s ease;
}
.fa-cart-shopping{
    transition: 0.3s ease;
}

.fa-heart:hover {
    color:black;
    transform: scale(1.3);
}

.fa-user:hover {
    color:black;
    transform: scale(1.3);
}

.fa-cart-shopping:hover {
    color:black;
    transform: scale(1.3);
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.first a {
    font-size: 20px;
    padding: 40px;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}

.first1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first1 .fa-sort-down {
    margin: 7px;
}

.first2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first2 .fa-sort-down{
    margin: 7px;
}

.first a:hover{
    color: rgb(200, 0, 255);
}
.bar{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(227, 227, 227, 0.718);
}
.bari{
    display: flex;
    margin-left: 50px;
}
.bari h2{
    font-size: 20px;
    margin: 10px;
}
.home{
    color: rgb(200, 0, 255);
}
.main{
    display: flex;
    justify-content: space-between;
   
    margin-top: 200px;
}
.lefts{
    width: 29%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    
}
.cat{
    width: 300px;
    height: 200px;
    border: rgba(203, 203, 203, 0.885) solid;
    border-radius: 5px;

}
.cat{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 1px 10px  gray;

}
.cat h2{
    margin-left: 10px;
}
.detils{
   display: flex;
   justify-content: space-between;
   
}
.detil{
    display: flex;
    flex-direction: column;
    
}
.detil a{
    text-decoration: none;
    margin: 10px;
    align-items: center;
    color: rgba(198, 78, 198, 0.94);
    font-weight: bolder;
}
.tex p{
    margin: 17px;
    align-items: center;
    font-weight: bold;
}
.fil{
    
    width: 300px;
    height: 600px ;
    margin-top: 50px;
    border: rgba(203, 203, 203, 0.885) solid;
    border-radius: 5px;
    box-shadow: 0px 1px 10px  gray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.filf{
    margin-top: -40px;
}
.filf h2{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.filf input{
    margin-left: 10px;
    margin-bottom: 15px;
    width: 280px;
}
.filf h4{
    margin-left: 10px;
    margin-bottom: 15px;
    letter-spacing: 8px;
    color: gray;
    font-weight: bolder;
}

.size{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}   

.boxs1{
    align-items: baseline;
    padding-bottom: 10px;
}

.boxs1 input{
    margin-right: 10px;
}

.boxs1 label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.color{
    margin-left: 10px;
}

.colordot{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.colordot h4{
    margin-left: 40px;
    margin-top: -20px;
    font-size: 20px;
    padding: 3px;
}

.rights{
    width: 71%;
}

.rightnav{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.shopall{
    margin-left: 20px;
}

.shopall h3{
    font-size: 25px;
    font-weight: bold;
}

.rightbuton{
    margin-right: 27px;
}

.rightbuton button{
    height: 40px;
    padding: auto;
    font-size: large;
    transition: 0.3s ease;
    border-radius: 5px;
    border: white;
    background-color: white;
    margin-right: 40px;
}

.rightbuton button:hover{
    transform: scale(1.1);
    background-color: rgb(117, 24, 117);
    color: aliceblue;
}

.closeshop1{
    
    height: 400px;
}
.mm1{
    border: #d2d2d2 solid;
    box-shadow: 0px 1px 8px  rgb(211, 211, 211);
    width: 310px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.dollr{
    color: magenta;
    font-size: 22px;
}
.mm1 h2{
    font-size: 1.8em;
    margin-bottom: 8px;
}
.mm1 p{
    font-size: 1em;
    margin-bottom: 8px;
}
.closeshop1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.categoris{
    align-items: center;
    text-align: center;
}
.minus{
    text-align: center;
    font-size: 70px;
    color: magenta;
    
}
.Four {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    
}

.Four Img {
    width: 350px;
    position: relative;
    transition: all .5s ease;
}

.Four Img:hover {
    transform: scale(1.1) ;

}

.four1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.four1 h1 {
    position: absolute;
    font-size: 12px;
    color: rgb(0, 83, 76);
    top: 1700px;
    left: 85px;

}
.four1 p {
    position: absolute;
    font-size: 40px;
    color: rgb(1, 222, 230);
    top: 1730px;
    left: 90px;
}

.four2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.four2 h2 {
    position: absolute;
    font-size: 12px;
    color: white;
    top: 1700px;
    left: 595px;

}

.four2 p {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 1730px;
    left: 595px;

}

.four3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.four3 h3 {
    position: absolute;
    font-size: 12px;
    color: white;
    top: 1700px;
    right: 330px;

}

.four3 p {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 1730px;
    right: 330px;

}
footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    margin-top: 150px;
    box-shadow: 0px 1px 5px #ccc;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer1 h1 {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    
}

.footer1 h2 {
    margin-top: 50px;
    margin-left: 230px;
    font-size: 30px;
}

.footer1 h3 {
    margin-top: 50px;
    margin-right: 250px;
}

.footer2 {
    display: flex;
    
}

.footer2 li {
    display: flex;
    padding: 10px;
    color: gray;
    margin-left: 35px;
    margin-top: 50px;
}

.footer4 {
    text-align: center;
    margin-top: -330px;
    margin-left: 300px;
}

.footer4 h1 {
    color: blueviolet;
    font-size: 20px;
    margin-top: 20px;
}

.footer4 p {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
    margin-left: -45px;
}

.footer5 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: end;
    color: rgb(119, 45, 188);
    font-size: 25px;
    margin-top: -180px;
    margin-right: 350px;
}

.footer5 .fa-phone{
    margin-top: 60px;
}

.footer5 .fa-envelope {
    margin-top: 60px;
}

.footer5 p {
    color: gray;
    font-size: 15px;
    margin-right: -310px;
    margin-top: -20px;
}

.footer5 h1 {
    color: gray;
    font-size: 20px;
    margin-right: -200px;
    margin-top: -33px;
}

.footer5 h2 {
    color: gray;
    font-size: 18px;
    margin-right: -310px;
    margin-top: -25px;
    
}

.footer6 {
    text-align: end;
    margin-right: 210px;
    margin-top: 60px;
}

.footer6 input {
    margin-top: 20px;
    margin-right: -160px;
    width: 250px;
    height: 34px;
    position: relative;
    left: -70px;
   
}

.footer6 input:focus {
    outline: none;
}

.footer6 button {
    width: 65px;
    height: 35px;
    color: white;
    border: none;
    background-color:rgb(90, 21, 124) ;
    border-radius: 3px;
    font-size: 15px;
    transition: all .5s ease;
    position: absolute;
    top: 3542px;
    right: 100px;
    
}

.footer6 button:hover {
    background-color: rgb(138, 29, 157);
    transform: scale(1.2);
}

.waraky {
    text-align: center;
    font-size: 10px;
    margin-top: 120px;
    color: gray;
}

.waraky span {
    color: blueviolet;
}



